
  <nz-layout>
    <!-- //Header -->
    <app-dashboard-header></app-dashboard-header>
    <!-- //Header -->
    <nz-layout>
    <!-- //SideBar -->
    <nz-sider nzWidth="300px" nzTheme="light">
      <app-dashboard-sidebar></app-dashboard-sidebar>
    </nz-sider>
    <!-- //SideBar -->

      <nz-layout class="mt-14 ml-20">
        <div class="grid place-content-end pr-36">
            <button nz-button class="bg-green-600 text-white text-center rounded-md px-2 py-1 w-40 h-10 text-xl" (click)="onAddCategory()"  [nzType]="'primary'">Add Category</button>
        </div>
        <nz-content class="mt-14">
          <div class="flex ">
          <h2 class="text-4xl font-bold ">Burger</h2>
          <div class="flex-item ml-auto pr-36">
            <button nz-button class="bg-green-600 text-white text-center rounded-md px-2 py-1 w-32 h-10 text-xl" (click)="onAddItem()"  [nzType]="'primary'">Add Item</button>
           </div>
          
          </div>
            <div class="grid grid-cols-4 gap-4 ">
                <app-menu></app-menu>
                <app-menu></app-menu>
                <app-menu></app-menu>
                <app-menu></app-menu>
            </div>    

        </nz-content>
        <nz-content class="mt-14">
          <div class="flex ">
          <h2 class="text-4xl font-bold ">Pizza</h2>
          <div class="flex-item ml-auto pr-36">
            <button nz-button class="bg-green-600 text-white text-center rounded-md px-2 py-1 w-32 h-10 text-xl" (click)="onAddItem()"  [nzType]="'primary'">Add Item</button>
           </div>
          
          </div>
            <div class="grid grid-cols-4 gap-4 ">
                <app-menu></app-menu>
                <app-menu></app-menu>
                <app-menu></app-menu>
                <app-menu></app-menu>
            </div>    

        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>

