<div class="min-h-screen  bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative  w-4/12 py-3 sm:max-w-xl sm:mx-auto">
        <div
            class="absolute inset-0 bg-gradient-to-r from-blue-300 to-green-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
        </div>
      <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">  
            <div class="max-w-md mx-auto">
                <div>
                    <h1 class="text-2xl font-semibold"> Menu Builder</h1>
                </div>

                    <form class="divide-y divide-gray-200" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">

                        <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">    
                            <nz-form-item class="relative" >
                            <nz-form-control nzErrorTip="Please input your username!">
                                <nz-input-group nzPrefixIcon="user">
                                <input type="text" nz-input formControlName="userName" placeholder="Username" class="h-10 text-xl" />
                                </nz-input-group>
                            </nz-form-control>
                            </nz-form-item>
                            <nz-form-item class="relative">
                            <nz-form-control nzErrorTip="Please input your Password!">
                                <nz-input-group nzPrefixIcon="lock">
                                <input type="password" nz-input formControlName="password" placeholder="Password"  class="h-10 text-xl" />
                                </nz-input-group>
                            </nz-form-control>
                            </nz-form-item>
                            <div nz-row class="login-form-margin">
                            
                            <div class="relative">
                                <!-- <a class="login-form-forgot">Forgot password</a> -->
                                <button type="submit" nz-button class="bg-green-600 text-white rounded-md px-3 py-1 w-24 h-10 text-xl"   [nzType]="'primary'">Log in</button>
                            </div>
                            </div>
                        </div>    
                    </form>
          </div>      
        </div>    
    </div>
</div>        