<div class="mt-8 w-9/12 mx-auto">
<!-- //breakFast Div -->
<div class="bg-[#f0c38d]  w-full h-56 relative ">
   
    <div class="grid grid-flow-col h-56 place-items-center">
        <h1 class="font-bold text-4xl tracking-[.45em]">BREAKFAST</h1>
    </div>  
    <div class="flex object-cover ">
        <img class="h-full w-80 overflow-hidden  flex-item ml-auto absolute bottom-0 right-0 rounded-l-lg" src="https://i.pinimg.com/564x/18/92/2c/18922c01b5396ecdb8970bcdc70c26b9.jpg" alt="">
      </div>
        
</div>

<!-- //breakFast Div -->
<!-- //breakFast Div -->

<div class="bg-[#f5f5f5]  mt-3  w-full h-56 relative ">
   
    <div class="grid grid-flow-col h-56 place-items-center">
        <h1 class="font-bold text-4xl tracking-[.45em]">PASTA</h1>
    </div>  
    <div class="flex object-cover ">
        <img class="h-full w-80 overflow-hidden  flex-item ml-auto absolute bottom-0 left-0 rounded-r-lg" src="https://i.pinimg.com/564x/eb/b2/e1/ebb2e1796d87d51ed89d157767c1ff39.jpg" alt="">
      </div>
        
</div>

<!-- //breakFast Div  -->

<div class="bg-[#e59b4e] mt-3  w-full h-56 relative ">
   
    <div class="grid grid-flow-col h-56 place-items-center">
        <h1 class="font-bold text-4xl tracking-[.45em]">PIZZA</h1>
    </div>  
    <div class="flex object-cover ">
        <img class="h-full w-80 overflow-hidden  flex-item ml-auto absolute bottom-0 right-0 rounded-l-lg" src="https://i.pinimg.com/236x/34/f4/8f/34f48f5c56c938642b80b0555e5adf82.jpg" alt="">
      </div>
        
</div>

<div class="bg-[#f5f5f5] mt-3  w-full h-56 relative ">
   
    <div class="grid grid-flow-col h-56 place-items-center">
        <h1 class="font-bold text-4xl tracking-[.45em]">LUNCH</h1>
    </div>  
    <div class="flex object-cover ">
        <img class="h-full w-80 overflow-hidden  flex-item ml-auto absolute bottom-0 left-0 rounded-r-lg" src="https://i.pinimg.com/564x/8e/5b/a7/8e5ba7ec864dcd8d4c2b7183b50e18cd.jpg" alt="">
      </div>
        
</div>

<div class="bg-[#6fc89b] mt-3  w-full h-56 relative ">
   
    <div class="grid grid-flow-col h-56 place-items-center">
        <h1 class="font-bold text-4xl tracking-[.45em]">COFFEE</h1>
    </div>  
    <div class="flex object-cover ">
        <img class="h-full w-80 overflow-hidden  flex-item ml-auto absolute bottom-0 right-0 rounded-l-lg" src="https://i.pinimg.com/564x/22/a5/25/22a5253ac865e3517341f94d1c637e20.jpg" alt="">
      </div>
        
</div>

<div class="bg-[#252b33] mt-3  w-full h-56 relative ">
   
    <div class="grid grid-flow-col h-56 place-items-center">
        <h1 class="font-bold text-4xl tracking-[.45em]">COCKTAILS</h1>
    </div>  
    <div class="flex object-cover ">
        <img class="h-full w-80 overflow-hidden  flex-item ml-auto absolute bottom-0 left-0 rounded-r-lg" src="https://i.pinimg.com/564x/c1/6f/a5/c16fa5383bbfb7a300fada04c5f4be27.jpg" alt="">
      </div>
        
</div>

</div>
